<div class="header">
  <div class="row headerbar">
    <div class="small-12 large-4 columns header header-left">
      <div class="left header-left">
        <f:cObject typoscriptObjectPath="t3foundation.structure.header.left" />
      </div>
    </div>
    <div class="small-12 large-4 columns header header-main">
      <div class="main header-main">
        <f:cObject typoscriptObjectPath="t3foundation.structure.header.main" />
      </div>
    </div>
    <div class="small-12 large-4 columns header header-right">
      <div class="right header-right">
        <f:cObject typoscriptObjectPath="t3foundation.structure.header.right" />
      </div>
    </div>
  </div>
</div>