<f:layout name="main" />
<f:section name="main">

<!--main content area-->
<div class="maincontent">
	<div class="row">
  		<div class="small-12 large-9 columns">
            <!--content-->
            <f:cObject typoscriptObjectPath="t3foundation.content.main" />
           <!--/content-->
   		</div>
        <div class="small-12 large-3 columns">
            <!--content-->
            <f:cObject typoscriptObjectPath="t3foundation.content.right" />
           <!--/content-->
   		</div>
  	</div>
</div>
</f:section>

