<!--[if lt IE 9]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="mainwrapper">
  <f:render partial="Structure/Header/top" />
  <f:render partial="Structure/Header/main/gold" />
  <f:render partial="Structure/Header/bottom" />
  <f:render partial="Structure/Content/top" />
  <f:render section="content" />
  <f:render partial="Structure/Content/bottom" />
  <f:render partial="Structure/Footer/top" />
  <f:render partial="Structure/Footer/main/gold" />
  <f:render partial="Structure/Footer/bottom" />
</div>