<!--[if lt IE 9]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="mainwrapper">
  <f:render partial="Header/top" />
  <f:render partial="Header/main/gold" />
  <f:render partial="Header/bottom" />
  <f:render partial="Content/top" />
  <f:render section="content" />
  <f:render partial="Content/bottom" />
  <f:render partial="Footer/top" />
  <f:render partial="Footer/main/gold" />
  <f:render partial="Footer/bottom" />
</div>